<div class="center">
    <form #loginForm="ngForm">
        <div class="inputs">
            <mat-form-field>
                <input matInput
                       placeholder="Email"
                       type="email"
                       name="email"
                       #email
                       required>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Password"
                       type="password"
                       name="password"
                       #password
                       required>
            </mat-form-field>
        </div>

        <button mat-raised-button
                type="submit"
                color="primary"
                (click)="login(email.value, password.value)">
            Login
        </button>
    </form>
</div>
